/* globals.css (追記例) */
@import "tailwindcss";
/* ダークモード有効化 */
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --lightHover: #fffbd5;
  --blackShadow: 4px 4px #000;
  --whiteShadow: 4px 4px #fff;
  --autofit-cols-200: repeat(auto-fit, minmax(200px, 1fr));
}

@theme inline {
  --color-lightHover: var(--lightHover);
  --font-Outfit: var(--font-outfit);
  --font-Ovo: var(--font-ovo);
  --shadow-black: var(--blackShadow);
  --shadow-white: var(--whiteShadow);
}

@media (prefers-color-scheme: dark) {
  :root {
    --darkTheme: #00001f;
    --darkHover: #f4faff;
  }
  @theme inline {
    --color-darkTheme: var(--darkTheme);
    --color-darkHover: var(--darkHover);
  }
}

body {
  font-family: var(--font-outfit);
}

.animate-move-left {
  animation: move-left 50s linear infinite;
}
.animate-move-right {
  animation: move-right 50s linear infinite;
}
@keyframes move-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
@keyframes move-right {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}
